<div th:fragment="add_product">
    <div class="container">         
        <form method="post" id="frmAddProduct" enctype="multipart/form-data" th:action="@{/admin/product/add}" th:object="${product}">
            <div class="add_product-card">
                <h4 class="add_product-card-header">
                    Thêm sản phẩm
                </h4>
                <div class="add_product-card-body">
                    <div class="mb-3">
                        <label for="productname" class="form-label">Tên sản phẩm:</label>
                        <input th:field="*{name}" type="text" class="form-control" autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Giá:</label>
                        <input th:field="*{price}" type="number" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Loại giày:</label>
                        <select class="form-control">
                            <option value="Niek">Nike</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Size giày:</label>
                        <input th:value="${productSizes.size}" type="number" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Số lượng:</label>
                        <input th:value="${productSizes.stock}" type="number" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Mô tả sản phẩm:</label>
                        <textarea th:field="*{description}" class="form-control" style="height: 300px"
                                  placeholder="Product Description">
                        </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Giá:</label>
                        <input th:field="*{image}" type="text" class="form-control" >
                    </div>
                    <a class="btn btn-outline-success" href="/admin/product" role="button">
                        <i class="fa fa-backward" aria-hidden="true"></i>
                        Quay lại</a>
                    <button type="submit" class="btn btn-primary">Thêm sản phẩm
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <link rel="stylesheet" href="/assets/css/add_product.css">
</div>

