<div th:fragment="add_product">
    <div class="container">
        <div class="add_product-card">
            <form method="post" id="frmAddProduct" enctype="multipart/form-data" th:action="@{/admin/product/add}" th:object="${product}">
                <h4 class="add_product-card-header">
                    Thêm sản phẩm
                </h4>
                <div class="add_product-card-body">
                    <div class="mb-3">
                        <label for="productname" class="form-label">Tên sản phẩm:</label>
                        <input th:field="*{name}" type="text" class="form-control" autofocus th:value="*{name}">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Giá:</label>
                        <input th:field="*{price}" type="number" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Loại giày:</label>
                        <select class="form-control">
                            <option value="Nike">Nike</option>
                            <option value="adidas">adidas</option>
                            <option value="Vans">Vans</option>                      
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Mô tả sản phẩm:</label>
                        <textarea th:field="*{description}" class="form-control" style="height: 300px"
                                  placeholder="Product Description">
                        </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Link ảnh:</label>
                        <input th:field="*{image}" type="text" class="form-control" >
                    </div>
                </div>
            </form>
            <form method="post"id="frmSizeandStock" th:action="@{/admin/product/addSize}" th:object= "${productSize}">
                <div class="mb-3">
                    <label for="price" class="form-label">Size giày:</label> <input
                        th:field="*{size}" type="number" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Số lượng:</label> <input
                        th:field="*{stock}" type="number" class="form-control">
                </div>
                <input type="button" value="Thêm size" onclick="submitForms()"/>
                <div class="sizeandStock" th:each="item : ${sizeList}">
                    <p>Size: </p>
                    <p th:text="${item.size}"></p>
                    <p>Số lượng: </p>
                    <p th:text="${item.stock}"></p>
                    <button type="button" class="btn btn-danger delete-btn">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            <div class="group-btn">
                <a class="btn btn-outline-success" href="/admin/product" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Quay lại</a>
                <input type="button" value="Thêm sản phẩm" onclick="submitForms2()">

            </div>
        </div>
    </div>
    <script>
	    submitForms = function(){
	        document.getElementById("frmAddProduct").submit();
	        document.getElementById("frmSizeandStock").submit();
	    }
	    submitForms2 = function(){
	        document.getElementById("frmAddProduct").submit();
	    }
    </script>
    <link rel="stylesheet" href="/assets/css/add_product.css">
</div>

