<div th:fragment="admin">
    <div class="admin-container">
        <div class="admin-cardBox">
            <a href="/admin/product" style="color: black;">
                <div class="admin-card">
                    <div class="product-manager-card">
                        <div class="title">Quản lý sản phẩm</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="storefront-outline"></ion-icon>
                    </div>
                </div>
            </a>
            <a href="/admin/order" style="color: black;">
                <div class="admin-card">
                    <div class="order-manager-card">
                        <div class="title">Quản lý đơn hàng</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>
            </a>
            <div class="admin-card">
                <div class="news-manager-card">
                    <div class="title">Quản lý tin tức</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="newspaper-outline"></ion-icon>
                </div>
            </div>
            <div class="admin-card">
                <div class="sales-manager-card">
                    <div class="title">Quản lý event</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="megaphone-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/css/admin.css">
</div>