<div th:fragment="cart">
    <div class="cart-container">
        <div class="cart">
            <div class="shopping-cart">
                <h2>Giỏ hàng</h2>
                <ul class="cart-list">

                    <th:block th:each="entry : ${entries}">
                        <li class="cart-item">
                            <div class="item-info">
                                <img th:src="${entry.image}" alt="" class="pro-img-cart">
                                <p class="item-name" th:text="${entry.name}"></p>
                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="minus"><input type="number" step="1" min="1"
                                        max="" name="quantity" th:value="${entry.amount}" title="Qty"
                                        class="input-text qty text" size="4" pattern="" inputmode=""><input
                                        type="button" value="+" class="plus">
                                </div>
                                <p class="item-price" th:text="${entry.priceFormatted}"></p>
                                <button type="button" class="btn btn-danger cart-btn">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                    </th:block>

                </ul>
            </div>
            <div class="summary">
                <h2>Thanh toán</h2>
                <ul class="summary-field">
                    <li class="summary-info">
                        <p>Số lượng sản phẩm:</p>
                        <p th:text="${totalNumber}"></p>
                    </li>
                    <li class="summary-info">
                        <p>Tổng giá tiền sản phẩm:</p>
                        <p th:text="${totalCost}"></p>
                    </li>
                    <li class="summary-info">
                        <p>Phí vận chuyển:</p>
                        <p th:text="${shipCost}"></p>
                    </li>
                </ul>
                <div class="summary-total">
                    <p>Thành tiền:</p>
                    <p th:text="${totalSum}"></p>
                </div>
                <div class="pay">
                    <div id="pay-cash">
                        <button type="button" class="purchase-btn">Thanh toán khi nhận hàng</button>
                    </div>
                    <div id="pay-credit">
                        <button type="button" class="purchase-btn">
                            Paypal
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="/cart.js"></script>
</div>