<div th:fragment="category">
	<div class="category">
		<div class="category-field">
			<div class="category-name">Jordan (15)</div>
		</div>
		<div class="category-content">
			<div class="category-kind">
				<ul class="cate-kind-list">
					<a href="" class="cate-kind-list-item">Jordan</a>
					<a href="" class="cate-kind-list-item">Jordan</a>
					<a href="" class="cate-kind-list-item">Jordan</a>
					<a href="" class="cate-kind-list-item">Jordan</a>
				</ul>
			</div>
			<ul class="category-list">
				<th:block th:each="product : ${products}">
					<li class="category-item">
						<a href="" class="category-item-link"> 
							<img th:src="${product.image}" alt="" class="pro-img">
							<h2>
								<td th:text="${product.name}" />
							</h2>
							<p class="price">
								<td th:text="${product.price}" />
							</p>
						</a>
					</li>
				</th:block>
			</ul>
		</div>
	</div>
</div>