<div th:fragment="edit_product">
    <div class="container">
        <form method="post" id="frmEditProduct" enctype="multipart/form-data">
            <div class="edit_product-card">
                <h4 class="edit_product-card-header">
                    Chỉnh sửa sản phẩm
                </h4>
                <div class="edit_product-card-body">
                    <div class="mb-3">
                        <label for="productname" class="form-label">Tên sản phẩm:</label>
                        <input type="text" class="form-control" id="productname" name="product-name" autofocus value="Tên sản phẩm cũ">
                    </div>
                    <div class="mb-3">
                        <label for="productprice" class="form-label">Giá:</label>
                        <input type="number" class="form-control" id="productprice" name="product-price" value="1">
                    </div>
                    <div class="mb-3">
                        <label for="producttype" class="form-label">Loại giày:</label>
                        <select class="form-control" id="type" name="product-type">
                            <option value="Nike">Nike</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="productsize" class="form-label">Size giày:</label>
                        <select class="form-control" id="size" name="product-size">
                            <option value="37">37</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="productdescription" class="form-label">Mô tả sản phẩm:</label>
                        <textarea class="form-control" style="height: 300px" id="description" name="product-description"
                                  placeholder="Product Description">
                        </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="productimg" class="form-label">Hình ảnh:</label>
                        <input type="file" accept="image/*" class="file form-control" id="img" name="product-img"
                               data-browse-on-zone-click="true" data-show-upload="false">
                    </div>
                    <a class="btn btn-outline-success back-btn" href="" role="button">
                        <i class="fa fa-backward" aria-hidden="true"></i>
                        Quay lại</a>
                    <button type="submit" class="btn btn-primary save-btn">Lưu chỉnh sửa
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



