<div th:fragment="edit_product">
    <div class="container">
        <div class="edit_product-card">
            <form method="post" id="frmEditProduct" enctype="multipart/form-data" th:action="@{/admin/product/add}" th:object="${product}">>
                <h4 class="edit_product-card-header">
                    Chỉnh sửa sản phẩm
                </h4>
                <div class="edit_product-card-body">
                    <div class="mb-3">
                        <label for="productname" class="form-label">Tên sản phẩm:</label>
                        <input th:field="*{name}" type="text" class="form-control" autofocus th:value="*{name}">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Giá:</label>
                        <input th:field="*{price}" type="number" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Loại giày:</label>
                        <select th:field="*{type}" class="form-control">
                            <option value="Nike">Nike</option>
                            <option value="adidas">adidas</option>
                            <option value="Vans">Vans</option>                      
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Mô tả sản phẩm:</label>
                        <textarea th:field="*{description}" class="form-control" style="height: 300px"
                                  placeholder="Product Description">
                        </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Link ảnh:</label>
                        <input th:field="*{image}" type="text" class="form-control" >
                    </div>
                </div>
            </form>
            <form method="post" id="frmSizeandStock" action="">
                <div class="mb-3">
                    <label for="price" class="form-label">Size giày:</label> <input
                        field="" type="number" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Số lượng:</label> <input
                        field="" type="number" class="form-control">
                </div>
                <input type="button" class="btn btn-danger" value="Thêm size" onclick="submitForms()"/>
                <div th:each="item : ${sizeList}" class="sizeandStock">
                    <p>Size: </p>
                    <p th:text="${item.size}" id="form-size"></p>
                    <p>Số lượng: </p>
                    <p th:text="${item.stock}" id="form-stock"></p>
                    <button type="button" class="btn btn-danger add-delete-btn">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            <div class="group-btn">
                <a class="btn btn-outline-success back-btn" href="" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Quay lại</a>
                <button type="submit" class="btn btn-primary save-btn">Lưu chỉnh sửa
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/css/product_management.css">
    <link rel="stylesheet" href="/assets/css/add_product.css">
    <link rel="stylesheet" href="/assets/css/edit_product.css">
</div>



