<div id="login-content" th:fragment="loginform">
	<div class="login">
		<div class="login-img">
			<img src="/assets/img/login2.png" alt="">
		</div>
		<form th:action="@{/login}" method="post">
			<div class="form show-form" id="login-form">
				<div class="login-title">Chào mừng bạn đến với Horn</div>
				<div class="login-sub-title">Đăng nhập để trải nghiệm Horn ngay!</div>
				<input type="email" name="email" class="login-input" placeholder="Email" required />
				<input type="password" name="password" class="login-input" placeholder="Mật khẩu" required />
				<div th:if="${param.error}">
					<h5 class="text-warning text-danger mb-3 ml-4">Tài khoản hoặc mật khẩu không chính xác</h5>
				</div>
				<button type="text" class="login-submit">Đăng nhập</button>
				<div class="sub-login">
					<a href="" class="privacy">Điều khoản & Chính sách</a> 
					<a href="/register"
						>Trở thành thành viên mới</a>
				</div>
			</div>
		</form>
	</div>
</div>
