<div th:fragment="news">
    <div class="mycontainer">
        <div class="row">
            <th:block th:each="news: ${newsList}">
                <div class="col-4">
                    <div class="news">
                        <a href="">
                            <div class="news-thumb">
                                <img th:src="${news.image}" alt="">
                            </div>
                            <div class="news-title">
                                <h5 th:text="${news.title}"></h5>
                            </div>
                            <div class="news-content">
                                <p th:text="${news.content}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/css/news.css">
</div>