<div th:fragment="news">
    <div class="mycontainer">
        <div class="row">
            <div class="col-4">
                <div class="news">
                    <a href="">
                        <div class="news-thumb">
                            <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2021/12/28/photo1640701733811-1640701734175883390291.png" alt="">
                        </div>
                        <div class="news-title">
                            <h5>"Dì ghẻ" trong vụ bạo hành bé gái 8 tuổi từng đóng cả MV, 1 rapper phải thốt lên "man rợ"?</h5>
                        </div>
                        <div class="news-content">
                            <p>
                                1 rapper Vbiz tiết lộ “dì ghẻ” trong vụ bạo hành bé gái 8 tuổi từng hợp tác với anh trong 1 MV đồng thời thể hiện thái ...
                            </p>
                        </div>
                    </a>   
                </div>
            </div>
            <div class="col-4">
                <div class="news">
                    <a href="">
                        <div class="news-thumb">
                            <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2021/12/28/photo1640701733811-1640701734175883390291.png" alt="">
                        </div>
                        <div class="news-title">
                            <h5>"Dì ghẻ" trong vụ bạo hành bé gái 8 tuổi từng đóng cả MV, 1 rapper phải thốt lên "man rợ"?</h5>
                        </div>
                        <div class="news-content">
                            <p>
                                1 rapper Vbiz tiết lộ “dì ghẻ” trong vụ bạo hành bé gái 8 tuổi từng hợp tác với anh trong 1 MV đồng thời thể hiện thái ...
                            </p>
                        </div>
                    </a>   
                </div>
            </div>
            <div class="col-4">
                <div class="news">
                    <a href="">
                        <div class="news-thumb">
                            <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2021/12/28/photo1640701733811-1640701734175883390291.png" alt="">
                        </div>
                        <div class="news-title">
                            <h5>"Dì ghẻ" trong vụ bạo hành bé gái 8 tuổi từng đóng cả MV, 1 rapper phải thốt lên "man rợ"?</h5>
                        </div>
                        <div class="news-content">
                            <p>
                                1 rapper Vbiz tiết lộ “dì ghẻ” trong vụ bạo hành bé gái 8 tuổi từng hợp tác với anh trong 1 MV đồng thời thể hiện thái ...
                            </p>
                        </div>
                    </a>   
                </div>
            </div>
            <div class="col-4">
                <div class="news">
                    <a href="">
                        <div class="news-thumb">
                            <img src="https://kenh14cdn.com/zoom/280_175/203336854389633024/2021/12/28/photo1640701733811-1640701734175883390291.png" alt="">
                        </div>
                        <div class="news-title">
                            <h5>"Dì ghẻ" trong vụ bạo hành bé gái 8 tuổi từng đóng cả MV, 1 rapper phải thốt lên "man rợ"?</h5>
                        </div>
                        <div class="news-content">
                            <p>
                                1 rapper Vbiz tiết lộ “dì ghẻ” trong vụ bạo hành bé gái 8 tuổi từng hợp tác với anh trong 1 MV đồng thời thể hiện thái ...
                            </p>
                        </div>
                    </a>   
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="./news.css">
</div>