<div th:fragment="order_management">
    <div class="order_management-container">
        <div class="management-cart">
            <h2>Quản lý đơn hàng</h2>
            <div class="title">
                <p class="title-name">Tên khách hàng</p>
                <p class="title-date">Ngày tạo đơn</p>
                <p class="title-status">Trạng thái</p>
                <p class="title-view">Xem chi tiết</p>
            </div>
            <ul class="management-list">
                <li class="management-item">
                	<th:block th:each="order : ${orderList}">
	                    <div class="item-info">
	                        <p class="item-name" th:text="*{order.customer}"></p>
	                        <p class="item-date" th:text="*{order.date}"></p>
	                        <p class="item-status" th:text="*{order.status}"></p>
	                        <a th:href=@{/admin/order/{orderId}(orderId=${order.id})}>
	                            <button type="button" class="btn btn-outline-dark edit_view-btn">
	                                <i class="fa fa-eye" aria-hidden="true"></i>
	                            </button>
	                        </a>
	                    </div>
                    </th:block>
                </li>
            </ul>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/css/product_management.css">
    <link rel="stylesheet" href="/assets/css/order_management.css">
</div>