<div th:fragment="payment">
	<div class="cart-container">
		<div class="cart">
			<div class="shopping-cart">
				<h2>Danh sách sản phẩm</h2>
				<ul class="cart-list">
					<th:block th:each="product : ${cart}">
						<li class="cart-item">
							<div class="item-info">
								<img th:src="${product.image}" alt="" class="pro-img-cart">
								<p class="item-name" th:text="${product.name}"></p>
								<p class="item-name" th:text="${product.size}"></p>
								<p class="item-quantity" th:text="${product.amount}"></p>
								<p class="item-price" th:text="${product.priceFormatted}"></p>	
							</div>
						</li>
					</th:block>
				</ul>
			</div>
			<div class="summary">
				<h2>Xác nhận thông tin</h2>
				<div class = "mt-5 ml-3 mr-3 d-flex justify-content-between"> 
					<h4>Tổng giá tiền:</h4>
					<h4 th:text="${totalCost}"></h4>
				</div>
				<div class = "ml-3 mr-3 d-flex justify-content-between">
					<h4>Phí vận chuyển: </h4>
					<h4 th:text="${shipCost}"></h4>
				</div>
				<div class = "ml-3 mr-3 d-flex justify-content-between">
					<h4>Thành tiền: </h4>
					<h4 th:text="${totalSum}"></h4>
				</div>
				<form th:action="@{/confirm}" class = "delivery-info ml-3 mr-3" method="post" th:object="${order}">
					<label for="address">Địa chỉ</label>
					<input id = "address" type="text" th:field="*{address}">
					<label for="phone-number">Số điện thoại</label>
					<input id = "phone-number"type="text" th:field="*{phone}">
					<button class="pay-btn mt-5" type="submit">Đặt hàng</button>
				</form>
			</div>
		</div>		
	</div>
	<link rel="stylesheet" href="/assets/css/cart.css">
	<script src="/cart.js"></script>
</div>