<div th:fragment="payment">
	<div class="cart-container">
		<div class="cart">
			<div class="shopping-cart">
				<ul class="cart-list">
					<th:block th:each="product : ${cart}">
						<li class="cart-item">
							<div class="item-info">
								<img th:src="${product.image}" alt="" class="pro-img-cart">
								<p class="item-name" th:text="${product.name}"></p>
								<p class="item-name" th:text="${product.size}"></p>
								<div class="quantity buttons_added">
									<a th:href="@{/cart/{id}(id=${product.cartEntryId},adjustment=-1)}">
										<input type="button" value="-" class="minus">
									</a> <input type="number" step="1" min="1" max="" name="quantity"
										th:value="${product.amount}" title="Qty" class="input-text qty text" size="4"
										pattern="" inputmode=""> <a
										th:href="@{/cart/{id}(id=${product.cartEntryId},adjustment=1)}">
										<input type="button" value="+" class="plus">
									</a>
								</div>
								<p class="item-price" th:text="${product.priceFormatted}"></p>
								<a th:href="@{/cart/remove/{id}(id=${product.cartEntryId})}">
									<button type="button" class="btn btn-danger cart-btn">
										<i class="fa fa-times" aria-hidden="true"></i>
									</button>
								</a>
							</div>
						</li>
					</th:block>
				</ul>
			</div>
			<div class="summary">
				<div class="pay" style="margin-left: 110px;">
					<a href="confirm">Thanh toán</a>
				</div>
			</div>
		</div>


		
	</div>

	<link rel="stylesheet" href="/assets/css/cart.css">
	<script src="/cart.js"></script>
</div>