<div th:fragment="product_management">
    <div class="product_management-container">
        <div class="management-cart">
            <h2>Quản lý sản phẩm</h2>
            <div class="title">
                <p class="title-img">Hình ảnh</p>
                <p class="title-name">Tên sản phẩm</p>
                <p class="title-price">Giá sản phẩm</p>
                <p class="title-edit"></p>
                <p class="title-remove"></p>
            </div>
            <ul class="management-list">
                <li class="management-item">
                    <div class="item-info">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb15a297-137b-4cdf-8df1-663ae0623af7/sb-dunk-high-pro-skate-shoes-BKPRGl.png" alt="" class="pro-img-cart">
                        <p class="item-name">Jordan Dior</p>
                        <p class="item-price">1500000</p>
                        <a href="">
                            <button type="button" class="btn btn-success management-btn">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                            </button>
                        </a>
                        <a href="">
                            <button type="button" class="btn btn-danger management-btn">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </li>
                                <li class="management-item">
                    <div class="item-info">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb15a297-137b-4cdf-8df1-663ae0623af7/sb-dunk-high-pro-skate-shoes-BKPRGl.png" alt="" class="pro-img-cart">
                        <p class="item-name">Jordan Dior</p>
                        <p class="item-price">1500000</p>
                        <a href="">
                            <button type="button" class="btn btn-success management-btn">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                            </button>
                        </a>
                        <a href="">
                            <button type="button" class="btn btn-danger management-btn">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </li>
                                <li class="management-item">
                    <div class="item-info">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb15a297-137b-4cdf-8df1-663ae0623af7/sb-dunk-high-pro-skate-shoes-BKPRGl.png" alt="" class="pro-img-cart">
                        <p class="item-name">Jordan Dior</p>
                        <p class="item-price">1500000</p>
                        <a href="">
                            <button type="button" class="btn btn-success management-btn">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                            </button>
                        </a>
                        <a href="">
                            <button type="button" class="btn btn-danger management-btn">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </li>
                                <li class="management-item">
                    <div class="item-info">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb15a297-137b-4cdf-8df1-663ae0623af7/sb-dunk-high-pro-skate-shoes-BKPRGl.png" alt="" class="pro-img-cart">
                        <p class="item-name">Jordan Dior</p>
                        <p class="item-price">1500000</p>
                        <a href="">
                            <button type="button" class="btn btn-success management-btn">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                            </button>
                        </a>
                        <a href="">
                            <button type="button" class="btn btn-danger management-btn">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="Btn-add">
                <a role="button" class="btn btn-outline-primary add-btn" href="">
                    <i class="fa fa-plus add-title">Thêm sản phẩm</i>
                </a>
            </div>
        </div>
    </div>
</div>