<div th:fragment="profile">
    <div class="container">
        <div class="row">
            <div id="user-profile" class="widget">
                <div class="widget-title">
                    <h1>User's Profile</h1>
                </div>
                <div class="widget-content">
                    <div class="widget-thumb">
                        <img src="http://pixner.net/sbidu/main/assets/images/dashboard/user.png" alt="">
                    </div>
                    <div class="user-email">
                        <h5 th:text="${profile.email}">user@gmail.com</h5>
                    </div>
                    <div class="user-container">


                        <div class="user-manage">
                            <div class="user-info">
                                <div class="name">
                                    Họ
                                </div>
                                <div class="value" th:text="${profile.lastname}">
                                    Nguyen Van
                                </div>
                            </div>

                        </div>
                        <div class="user-manage">
                            <div class="user-info">
                                <div class="name">
                                    Tên
                                </div>
                                <div class="value" th:text="${profile.firstname}">
                                    Abcdef
                                </div>
                            </div>
                        </div>
                        <div class="user-manage">
                            <div class="user-info">
                                <div class="name">
                                    Số điện thoại
                                </div>
                                <div class="value" th:text="${profile.phone}">
                                    0705507777
                                </div>
                            </div>
                        </div>
                        <div class="user-manage">
                            <div class="user-info">
                                <div class="name">
                                    Địa chỉ
                                </div>
                                <div class="value" th:text="${profile.address}">
                                    1 Nguyễn Văn Cừ, quận 5, Tp.HCM
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary edit-btn">
                            <i class="far fa-edit"></i>
                            Chỉnh sửa
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="profile-modal">
        <div class="edit-modal">
            <div class="widget-modal">
                <div class="widget-title">
                    <h1>Chỉnh sửa thông tin cá nhân</h1>
                </div>
                <form method="post" th:action="@{/profile/edit}" th:object="${profile}">
                <div class="widget-content">
                    <div class="form-group">
                        <label for="first-name">Họ</label>
                        <input type="text" class="form-control" name="firstname" id="first-name" th:value="*{firstname}">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Tên</label>
                        <input type="text" class="form-control" name="lastname" id="last-name" th:value="*{lastname}">
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" class="form-control" name="phone" id="phone" th:value="*{phone}">
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ</label>
                        <input type="text" class="form-control" name="address" id="address" th:value="*{address}">
                    </div>
                    <div class="row confirm">
                        <button type="submit" id="yes" class="btn btn-success mr-2">
                            Cập nhật
                        </button>
                        <button id="no" class="btn btn-danger">
                            Hủy
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="assets/css/profile.css">
    <script src="assets/js/profile.js"></script>
</div>