*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 120px;
}

.widget {
    width: 80%;
    box-shadow: 0px 9px 20px 0px rgb(22 26 57/36%);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.widget-content {
    margin-top: 50px;
}

.widget-thumb {
    text-align: center;
}

.user-email{
    text-align: center;
    margin-top: 10px;
}

.user-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.user-manage{
    margin-bottom: 5px;
}

.user-info {
    display: flex;

}

.name {
    width: 150px;
}

.value {

}

.value::before{
    content: ':';
    margin-right: 20px;
}

.edit-btn {
    float: right;
}

.profile-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.widget-modal {
    background-color: white;
    width: 40%;
    position: fixed; 
    top: 15%;
    left: 30%;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 9px 20px 0px rgb(22 26 57/36%);
    
}

.confirm {
    float: right;
}

