<div th:fragment="thankyou">
    <div class="container">
        <div class="jumbotron text-center">
            <div class="success-tick"> 
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                </svg>
            </div>
            <h1 class="display-3">Thank You!</h1>
            <p class="lead"><strong>Bạn đã đặt hàng thành công</strong>.</p>
            <p class="lead"><strong>Cảm ơn bạn vì đã tin tưởng và mua hàng ở Horn Sneaker</strong>.</p>
            <hr>
                <p class="lead">
                    <a class="btn btn-sm" href="/" role="button">Trở về trang chủ</a>
                </p>
                <a href="https://www.facebook.com/horns.authentic/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/hornssneaker.auth/" class="fa fa-instagram"></a>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/css/thankyou.css">
</div>