<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/category.css">
    <title>Document</title>
</head>
<body>
    <div class="category">
        <div class="category-field">
            <div class="category-name">Jordan (15)</div>
        </div>
        <div class="category-content">
            <div class="category-kind">
                <ul class="cate-kind-list">
                    <a href="" class="cate-kind-list-item">Jordan</a>
                    <a href="" class="cate-kind-list-item">Jordan</a>
                    <a href="" class="cate-kind-list-item">Jordan</a>
                    <a href="" class="cate-kind-list-item">Jordan</a>

                </ul>
            </div>
            <ul class="category-list">
                <li class="category-item">
                    <a href="" class="category-item-link">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb15a297-137b-4cdf-8df1-663ae0623af7/sb-dunk-high-pro-skate-shoes-BKPRGl.png" alt="" class="pro-img">
                        <h2>Nike SB Dunk High Pro</h2>
                        <p>Jordan</p>
                        <p class="price">3,000,000 vnd</p>
                    </a>
                </li>
                <li class="category-item">
                    <a href="" class="category-item-link">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb15a297-137b-4cdf-8df1-663ae0623af7/sb-dunk-high-pro-skate-shoes-BKPRGl.png" alt="" class="pro-img">
                        <h2>Nike SB Dunk High Pro</h2>
                        <p>Jordan</p>
                        <p class="price">3,000,000 vnd</p>
                    </a>
                </li>
                <li class="category-item">
                    <a href="" class="category-item-link">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb15a297-137b-4cdf-8df1-663ae0623af7/sb-dunk-high-pro-skate-shoes-BKPRGl.png" alt="" class="pro-img">
                        <h2>Nike SB Dunk High Pro</h2>
                        <p>Jordan</p>
                        <p class="price">3,000,000 vnd</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>