@@ -0,0 +1,64 @@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/login.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/font/fontawesome-free-5.15.4-web/css/all.min.css">
    <title>Regist Successfully</title>
</head>
<body>
    <div id="register-success">
        <div class="announcement">
            <div class="success">
                <div class="success-tick"> 
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                    </svg>
                </div>
                SUCCESS
            </div>
            <div class="direct">
                <div class="noti">
                    Congratulations, your account has been successfully created.
                </div>
                <div class="continue">
                    <button class="continue-btn">Continue</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>