<!-- Footer -->
<footer id="footer" th:fragment="footer">
	<div class="contact">
        <ul class="contact-store">
            <li class=""><b>Địa chỉ</b>: 5 Nguyễn Văn Cừ, Quận 5, TP.Hồ Chí Minh</li>
            <li class=""><b>Giờ làm việc</b>: 9:30 - 21:00 tất cả các ngày</li>
        </ul>
        <ul class="contact-method">
            <li class="method">
                <i class="About-us"><b>About us</b></i>
                <div></div>
                <i class="fas fa-phone-alt"></i>
                 070550123
            </li>
            <li class="method">
                <i class="fab fa-facebook-square"></i>
                <a href="https://www.facebook.com/horns.authentic/" class="facebook">Facebook</a>
            </li>
            <li class="method">
                <i class="fab fa-instagram-square"></i>
                <a href="https://www.instagram.com/hornssneaker.auth/" class="instagram">Instagram</a>
            </li>
        </ul>
    </div>
    <div class="welcome">
        <b>Cảm ơn vì đã tin tưởng Horn sneaker</b>
    </div>
	<script src="/assets/js/login.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css">

</footer>
