<!-- Header -->
<header id="header">
	<ul class="header-nav-list">
		<li><i id="res-menu-btn" class="fas fa-bars menu-btn"></i></li>
		<li class="header-nav-link"><a href="">TRANG CHỦ</a></li>
		<li class="header-nav-link"><a href=""> SNEAKER <i
				class="down-sort fas fa-angle-down"></i>
		</a>
			<ul class="product-subnav drop-right">
				<li><a href="">Nike</a></li>
				<li><a href="">Adidas</a></li>
				<li><a href="">MLB</a></li>
			</ul></li>
		<li class="header-nav-link"><a href="">TIN TỨC</a></li>
		<li class="header-nav-link"><a href="">GIẢM GIÁ</a></li>
		<li class="header-nav-link"><a href="#footer">LIÊN HỆ</a></li>
		<li class="header-nav-link"><a href="/login">ĐĂNG NHẬP</a></li>
	</ul>
	<div class="search">
		<input type="text" class="search-box" placeholder="Search" /> 
		<i class="fas fa-search search-btn"></i>
	</div>
</header>
