<!-- Header -->
<header id="header">
	<ul class="header-nav-list">
		<li><i id="res-menu-btn" class="fas fa-bars menu-btn"></i></li>
		<li class="header-nav-link"><a href="">TRANG CHỦ</a></li>
		<li class="header-nav-link"><a href="/category"> SNEAKER <i class="down-sort fas fa-angle-down"></i>
			</a>
			<ul class="product-subnav drop-right">
				<li><a href="">Nike</a></li>
				<li><a href="">Adidas</a></li>
				<li><a href="">MLB</a></li>
			</ul>
		</li>
		<li class="header-nav-link"><a href="">TIN TỨC</a></li>
		<li class="header-nav-link"><a href="">GIẢM GIÁ</a></li>
		<li class="header-nav-link"><a href="#footer">LIÊN HỆ</a></li>
	</ul>
	<div class="search">
		<input type="text" class="search-box" placeholder="Search" />
		<i class="fas fa-search search-btn"></i>
	</div>
	<div class="cotroller">
		<div sec:authorize="isAnonymous()">
			<div class="register">
				<a href="/login" class="linktoregister">
					Đăng nhập
				</a>
			</div>
		</div>
		<div sec:authorize="isAuthenticated()">
			<div class="user-controller">
				<div class="user-email" th:text="${#authentication.name}">
					tuandat290601@gmail.com
					<i class="fa fa-caret-down" aria-hidden="true"></i>
				</div>
				<ul class="user-navbar">
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<li>
							<a href="/admin/product" class="linktocart">
								Products	
							</a>
						</li>
					</div>
					<li>
						<a href="/cart" class="linktocart">
							My Cart
						</a>
					</li>
					<li>
						<a href="" class="logout">
							Log out
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>