<!-- Header -->
<header id="header">
	<div class="header-navbar">
		<div class="row">
			<div class="col-3">
				<div class="header-nav-brand">
					HORNSNEAKER
				</div>
			</div>
			<div class="col-5">
				<ul class="header-nav-list">
					<li  class="header-nav-item">
						<a href="" class = "">Home</a>
					</li>
					<li class="header-nav-item">
						<a href="" class = "" >
								Product
								<i class="fas fa-chevron-down dropdown-btn"></i>
							<ul class="header-nav-item-submenu">
								<li>
									<a href="" class="submenu-item">Nike</a>
								</li>
								<li>
									<a href="" class="submenu-item">Adidas</a>
							
								</li>
								<li>
									<a href="" class="submenu-item">Puma</a>
								</li>
							</ul>
						</a>
					</li>
					<li class="header-nav-item">
						<a href="" class = "">News</a>
					</li>
					<li class="header-nav-item">
						<a href="" class = "">Sale</a>
					</li>
				</ul>
			</div>
			<div class="col-2">
				<div class="header-nav-search d-flex">
					<input type="text" class = "search-box" placeholder="Tìm kiếm ...">
					<a href="" class="search-btn">
						<i class="fas fa-search"></i>
					</a>
				</div>
			</div>
			<div class="col-2">
				<div class="header-nav-user d-none">
					<a href="" class="login">Đăng nhập</a>
				</div>
				<div class="header-nav-user user-controller">
					<i class="fas fa-chevron-down dropdown-btn"></i>
					<i class="fas fa-user"></i>
					<ul class="user-menu">
						<li class="user-menu-item">
							<a href="" class="user-menu-item-link">Profile</a>
						</li>
						<li class="user-menu-item">
							<a href="" class="user-menu-item-link">Giỏ hàng</a>
						</li>
						<li class="user-menu-item">
							<a href="" class="user-menu-item-link">Đăng xuất</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	
    <link rel="stylesheet" href="/assets/css/header.css">
</header>