.add_product-card-body label{
    font-size: 15px;
}
#frmAddProduct{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
}

