*{
    padding: 0;
    margin: 0 !important;
}
.add_product-card-body label{
    font-size: 15px;
}
#frmAddProduct{
    width: 100%;
    padding-top: 70px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
}
#frmSizeandStock{
    width: 100%;
    padding-bottom: 10px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
}
.add_product-card-body input,.add_product-card-body option,#frmSizeandStock input,#frmSizeandStock p{
    font-size: 12px;
}
.sizeandStock{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.container{
    padding-bottom: 20px;
}
.group-btn{
    padding-left:50px
}
.add-delete-btn{
    padding: 0 5px !important;
    font-size: 10px !important;
    height:20px;
    width:20px;
    justify-content: center;
}
