*, ::after, ::before{
    padding: 0;
    margin: 0 ;
}

p {
    margin: 0 !important;
    
}

.cart-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart{
    width: 80%;
    height: 500px;
    display: flex;
    /* background-color: ; */
    margin-top: auto !important;
    margin-bottom: auto !important;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shopping-cart {
    width: 70%;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.shopping-cart h2,
.summary h2 {
    font-size: 32px;
    padding: 30px 30px;
}

.cart-list{
    list-style: none;
    padding: 0 30px;
    overflow: auto;
    height: 300px;
}

.cart-item {
    
}

.cart-item:first-child {
    border-top: 1px solid #ccc;
}


.item-name {
    margin: 0 !important;
    width: 100px !important;
}

.item-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
}

.item-info p {
    font-size: 14px;
}

.cart-btn {
    font-size: 10px !important;
    padding: 0 5px !important;
    height: 20px;
}

.summary {
    background-color: #ddd;
    width: 30%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.pro-img-cart {
    width: 10%;
}

/* -- quantity box -- */

.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;
}
   
   .quantity.buttons_added .minus {
    border-right: 0; 
}
   
   .quantity.buttons_added .plus {
    border-left: 0; 
}
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; 
}
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; 
}

.summary {

}

.summary-field{
    padding: 0 20px;
    padding-bottom: 20px;
}

.summary-info {
    display: flex;
    justify-content: space-between;
}

.summary-info p {
    font-size: 18px;
    padding: 5px 0;
}

.summary-total {
    position: relative;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    justify-content: center;
}

.purchase-btn {
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    padding-left: auto;
    padding-right: auto;
    font-size: 14px;
    border-radius: 20px;
}

.purchase-btn:hover{
    cursor: pointer;
}

#pay-cash {
    padding-bottom: 15px;
}


   
   
