.edit_product-card-body label,#frmSizeandStock label{
    font-size: 15px;
}
#frmEditProduct{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
}
.back-btn,.save-btn{
    height: 30px;
}
.edit_product-card-body input,.edit_product-card-body option{
    font-size: 12px;
}
.edit-delete-btn{
    font-size: 10px !important;
    padding: 0 5px !important;
    height:20px;
    width:20px;
    justify-content: center;
}



