/* Hornsneaker */
.hornsneaker {
    height: 100vh;
}


/* Footer */
#footer {
    /* clear: both; */
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white-color);
    padding-bottom: 50px;
}

.contact {
    font-size: 1.5rem;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.contact-store li,
.contact-method li {
    padding-right: 30px;
    list-style-type: none;
    margin-bottom: 10px;
}

.contact-method li a {
    text-decoration: none;
    color: white;
}

.welcome{
    font-size: 1.5rem;
    text-align: center;
}

#homeslider{
    padding-top: 50px;
    justify-content: center;
}

.carousel-item {
    background-position: center;
    position: center;
    padding-left: 50px;
    padding-right:50px;
}
.card-img-top{
    cursor:pointer;
}
.news-main,.product-main{
    padding-top:50px
}
div a, a:hover {
    text-decoration: none;
}

/* div a:hover {
    opacity: 0.8;
} */


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-main {
    padding: 2px 16px;
}
.row{
    padding-left: 50px;
}

/* Regist-success */


/* Regist-Success */

#register-success{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, var(--white-color), var(--lightblue-color));
    padding-top: 150px;
}

.announcement {
    width: 300px;
    height: 380px;
    font-size: 1.6rem;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.success {
    height: 50%;
    color: var(--white-color);
    border-bottom: 1px solid black;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    font-weight: bold;
}

.success-tick {
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: white;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px 0px 0px var(--lightblue-color);
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px var(--lightblue-color)
    }
}

.direct {
    height: 50%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.noti {
    padding: 30px;
    letter-spacing: 0.5px;
    color: white;
}

.continue {

}

.continue-btn {
    color:white;
    background-color: var(--lightblue-color);
    padding: 10px 30px;
    border-radius: 20px;
    border: unset;
    box-shadow: 0 0 5px black;
}

.continue-btn:hover{
    background-color: rgba(0, 0, 0, 0.7);
    transition-duration: 0.7s;
}
