/* Hornsneaker */
.hornsneaker {
    height: 100vh;
}

/* Header */
#header {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 20px rgb(29, 26, 26);
    z-index: 1;
    margin: auto;
    font-size: 1.6rem;
    padding-left: 40px;
}


.header-nav-list {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.header-nav-list li {
    margin: 0;
    line-height: 50px;
    display: inline-block;
}

.header-nav-list > li > a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 300;
}

.header-nav-list li a {
    text-decoration: none;
    padding: 0 20px;
    display: block;
    margin-left: 0;
}

.header-nav-link {
    text-decoration: none;
    font-weight: 400;
    position: relative;
}

.product-subnav {
    padding-inline-start: 0;
    position: absolute;
}

.header-nav-list li:hover .product-subnav{
    display: block;
}

.header-nav-list > li:hover > a {
    color: var(--lightblue-color);
    background-color: rgba(0, 0, 0, 0.1);
}

.header-nav-list .product-subnav {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgb(196, 187, 187);    
}

.header-nav-list .product-subnav a {
    color: var(--lightblue-color);
    padding: 0 15px;
    line-height: 50px;
    text-align: center;
    display: block;
}

.header-nav-list .product-subnav li {
    width: 100%;
}

.header-nav-list .product-subnav > li:hover  {
    background-color: rgba(0, 0, 0, 0.1);
}

.header-nav-list .product-subnav > li > a:hover{
    
}



.login-link {
    display: inline-block;
    margin-right: 40px;
}

.menu-btn {
    color: white;
    font-size: 2rem;
    line-height: 50px;
    padding: 15px 20px 15px 20px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;

}

.menu-btn:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.search {
    position: absolute;
    right: 40%;
    top: 10px
}

.search-btn{
    float: right;
    margin-top: 7px !important;
    color: white;
}


.search-box {
    float: right;
    margin-left: 10px !important;
    margin-top: 10px;
    font-size: 1.6rem;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 40px;
    padding-left: 10px;
}

.cotroller {
    display: flex;
    position: absolute;
    right: 10px;
    padding-top: 15px;
    top: 0;
}

.cotroller a {
    color: white;
}

.cotroller a:hover {
    color: var(--lightblue-color);
}

.user-controller{
    position: relative;
}

.user-email {
    color: white;
    text-decoration: underline;
}

.user-email:hover{
    cursor: pointer;
    /* text-decoration: underline; */
    color: var(--lightblue-color);
}

.user-controller .user-email:hover .user-navbar {
    display: block;
}

.user-navbar {
    list-style: none;
    display: block;
    position: absolute;
    right: 0;
    width: 150px;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-navbar a {
    padding: 10px;
}

.user-navbar a:hover {
    color: var(--lightblue-color);
}


/* Footer */
#footer {
    width: 100%;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white-color);
    padding-bottom: 50px;
    bottom: 0;
}

.contact {
    font-size: 1.5rem;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.contact-store li,
.contact-method li {
    padding-right: 30px;
    list-style-type: none;
    margin-bottom: 10px;
}

.contact-method li a {
    text-decoration: none;
    color: white;
}
.welcome{
    font-size: 1.5rem;
    text-align: center;
}
#homeslider{
    padding-top: 50px;
    justify-content: center;
}
.carousel-item {
    background-position: center;
    position: center;
    padding-left: 50px;
    padding-right:50px;
}
.card-img-top{
    cursor:pointer;
}
.product-main{
    padding-top:50px
}
div a, a:hover {
    text-decoration: none;
}

div a:hover {
    opacity: 0.8;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-main {
    padding: 2px 16px;
}
.row{
    padding-left: 50px;
}

/* Regist-success */



